.result-container {
    background-color: #666666;
    border: 1px solid #303030;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
  }
  
  .result-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .result-content {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #ffffff;
  }
  